<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629596194534-fgunm6u3jpc5u8mdf3bltek3j82lcv27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629596194534-fgunm6u3jpc5u8mdf3bltek3j82lcv27</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629596194534-t992p933mn9813mk9jflp69s7210rrac.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0kBYDyLgj8_YfzFQ7fI0oMjkN-EKiGDs</string>
	<key>GCM_SENDER_ID</key>
	<string>629596194534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.famprobst.report</string>
	<key>PROJECT_ID</key>
	<string>shoot-report</string>
	<key>STORAGE_BUCKET</key>
	<string>shoot-report.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629596194534:ios:e614c76ab3086803f29d27</string>
</dict>
</plist>